@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 60, 206);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 130, 237);
}

body {
  /* font-family: "Quicksand", sans-serif; */
  font-weight: 300;
  /* background-color: #131316; */
  color:#ffffff;
  margin: 0;
  padding: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgb(60, 1, 56) 3%, rgb(150, 60, 206) 38%, rgb(7, 4, 64) 68%, rgb(143, 90, 192) 98%);
  animation: gradient 30s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vh 5vw 3vh 5vw;
  /* background-color: rgba(0, 0, 0, 0.5); */
  height: 50vh;
  /* text-align: center; */
  z-index: 1;
}

.section h1 {
  margin: 0;
  font-size: 9vh;
}

.section h2 {
  font-size: 4vh;
}

.code-text {
  font-size: 3vh;
  margin: 0;
  color: rgb(255, 255, 255, 0.35);
  user-select: none;
}

.section-main {
  position: relative;
  width: 100%;
  background-color: #202020;
  color: white;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
  margin: 0;
}

@media (max-width:600px){
  .section {
    margin-top: 0;
  }
  .section h1 {
    font-size: 5vh;
  }
  .section h2 {
    font-size: 3vh;
  }
  .code-text {
    font-size: 2vh;
  }
}

.title {
  display: flex;
  align-items: center;
}

.background-element {
  position: relative;
  background-color: #202020;
  width: 100%;
  height: 60vh;
  z-index: -1;
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}

.square {
  position: absolute;
  left: 5%;
  top: -10%;
  width: 10vw;
  height: 20vh;
  background-color: #202020;
}

.square:nth-child(1) {
  background-color: #202020;
  width: 15vw;
  left: 20%;
  top: -15%;
}

.square:nth-child(2){
  width: 15vw;
  left: 30%;
}

.square:nth-child(3){
  width: 10vw;
  left: 48%;
  top: -25%;
}

.square:nth-child(4){
  width: 15vw;
  left: 55%;
  top: -20%;
}

.square:nth-child(5){
  width: 20vw;
  left: 70%;
  top: -30%;
}

.square:nth-child(6){
  width: 10vw;
  left: 89%;
  top: -15%;
}

.square:nth-child(7){
  width: 15vw;
  left: 8%;
  top: 80%;
}

.square:nth-child(8){
  width: 15vw;
  left: 20%;
  top: 75%;
}

.square:nth-child(9){
  width: 10vw;
  left: 47%;
  top: 82%;
}

.square:nth-child(10){
  width: 20vw;
  left: 65%;
  top: 73%;
}


.info-box {
  position: absolute;
  /* background-color: #1000f7; */
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  color: rgb(218, 218, 218);
  width: 100%;
}

.sub-section button {
  color: rgb(165, 90, 165);
  background-color: #202020;
  border: 2px rgb(165, 90, 165) solid;
  border-radius: 20px;
  height: 5vh;
  width: 10vw;
  font-size: 90%;
  transition: 0.35s;
  margin: 3vh 0;
}

.sub-section button:hover {
  scale: 104%;
  cursor: pointer;
  filter: drop-shadow(0 0 5px rgb(165, 90, 165));
}

.project-button.selected {
  background-color: rgb(165, 90, 165);
  color: #202020;
}

.sub-section-button-box {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.project-section {
  display: flex;
  align-items: center;
  width: 95%;
  height: 50vh;
  /* background-color: blue; */
  overflow-x: scroll;
  justify-content: space-evenly;
}

@media (max-width:1000px){
  .project-section{
    gap: 3vw;
  }
  .sub-section-button-box {
    width: 100%;
  }
  .sub-section button {
    width: 30%;
  }
}



.code-section {
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
}