.header {
    display: flex;
    /* background-color: blue; */
    align-items: center;
    justify-content: flex-start;
    height: 8vh;
    padding: 0 4vw;
    border-bottom: 1px white solid;
    background-color: rgba(255, 255, 255, 0);
}

.header-button {
    width: 15%;
    text-align: center;
    transition: 0.35s;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 2.5vh;
    font-weight: 600;
    color: white;
    transition: 0.35s;
}

a:visited {
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: rgb(229, 149, 255);
}

@media (max-width:1000px){
    .header{
        justify-content: space-around;
    }
    .header-button {
        width: 30%;
    }
}