.project-thumbnail {
    height: 100%;
    width: 60vh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
    transition: 0.35s;
    scale: 90%;
}

.project-thumbnail h4{
    margin: 0 0 1vh 0;
}

.project-thumbnail p {
    margin: 0;
}

.project-thumbnail img {
    top: 0;
    height: 50%;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.project-thumbnail-info {
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 2vh;
    bottom: 0;
    /* background-color: blue; */
}

.project-thumbnail:hover {
    filter: drop-shadow(0 0 10px rgb(165, 90, 165));
    cursor: pointer;
}

@media (max-width:1000px){
    .project-thumbnail {
        scale: 80%;
    }
}

@media (max-width:600px){
    .project-thumbnail {
        width: 50%;
        height: 85%;
    }
    .project-thumbnail img {
        width: 100%;
        height: auto;
    }
    .project-thumbnail-info {
        height: 100%;
    }
}